body {
    font-family: Helvetica;
}

#goals-cards-per-minute {
    width: 100%;
}

.half-width {
  max-width: 50%;
  margin: 0;
  float: left;
}

svg {

    &.dragging {
        cursor: ew-resize;
    }

    line.minute-slider {
        &:hover {
            cursor: ew-resize;
        }
    }
}
