.tooltip {
    background: #222;
    color: #fff;
    font-size: 11px;
    position: absolute;
    padding: 10px 20px;
    text-align: center;
    border-radius: 4px;
    opacity: 0.8;
    transition: opacity 0.5s;

    &.hidden {
        opacity: 0;
    }

    p {
        margin-bottom: 0px;
    }

}